include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include real_estates *.css
recursive-include real_estates *.csv
recursive-include real_estates *.html
recursive-include real_estates *.ico
recursive-include real_estates *.js
recursive-include real_estates *.json
recursive-include real_estates *.md
recursive-include real_estates *.png
recursive-include real_estates *.py
recursive-include real_estates *.svg
recursive-include real_estates *.txt
recursive-exclude real_estates *.pyc